@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,600;1,600&display=swap');

:root {
    /* Primary */
    --Pink: hsl(322, 100%, 66%);
    /* Neutral */
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    /* Headings */
    --font-Poppins: 'Poppins', sans-serif;
    --weigt-poppins: 600;
    /* Body, Call-to-actions */
    --font-Open: 'Open Sans', sans-serif;
    --weigt-1-Open: 400;
    --weigt-2-Open: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, ul, li {
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    font-family: var(--font-Open);
    font-weight: var(--weigt-2-Open);
    font-size: 18px;
    height: 3186px;
    width: 1440px;
    margin: auto auto;
    display: grid;
    grid-template-rows: 721px 1905px 560px;
}

.first-content {
    background: var(--Very-Pale-Cyan) url(../images/bg-hero-desktop.svg) no-repeat;
}

main {
    margin: 48px 80px 72px 80px;
    display: grid;
    grid-template-rows: 48px 553px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.try-button {
    height: 48px;
    width: 190px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 7px 0 hsla(209, 11%, 55%, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 590px 680px;
    grid-template-rows: 482px;
}

.get-started {
    display: flex;
    align-items: center;
}

.get-content {
    display: flex;
    flex-direction: column;
}

.get-content > h1 {
    margin-bottom: 51px;
    width: 440px;
}

.get-content > p {
    margin-bottom: 34px;
    width: 511px;
    font-weight: var(--weigt-1-Open);
    color: var(--Very-Dark-Cyan);
}

.get-button {
    height: 56px;
    width: 280px;
    border-radius: 30px;
    background-color: var(--Pink);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.get-button > a {
    color: aliceblue;
    font-size: 0.95rem;
}

.content > img {
    max-width: 100%;
    max-height: 100%;
}

.second-content {
    height: 1905px;
    padding-top: 120px;
}

.three-cards > .box {
    border-radius: 10px;
    height: 440px;
    width: 1230px;
    margin: 40px auto;
    padding: 53px 32px 53px 121px;
    box-shadow: 0 0 7px 0 hsla(209, 11%, 55%, 0.404);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box > img {
    max-height: 333px;
}

.text > h2 {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 22px;
}

.text > p {
    max-width: 470px;
    font-size: 1rem;
    letter-spacing: 0.47pt;
    line-height: 1.5;
    color: var(--Grayish-Blue);
    font-weight: var(--weigt-1-Open);
}
.grow, .users {
    display: flex;
    flex-direction: row-reverse;
}

.ready {
    width: 800px;
    height: 280px;
    margin: 120px 320px;
    background-color: white;
    box-shadow: 0 0 7px 0 hsla(209, 11%, 55%, 0.404);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.button-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.button-text > .get-button {
    margin-top: 48px;
    width: 400px;
    height: 80px;
    border-radius: 50px;
    color: aliceblue;
    box-shadow: 0 0 8px 0 hsla(209, 11%, 55%, 0.404);
}

.footer {
    height: 560px;
    background: var(--Very-Dark-Cyan);
    color: aliceblue;
    padding-top: 192px;
    padding-left: 117px;
    display: grid;
    grid-template-rows: 49px 204px 60px;
}

.footer-content {
    display: grid;
    grid-template-columns: 442px 235px 235px 239px;
}

li {
    color: aliceblue;
}
